.button{
    display: inline-flex;
    align-items: center;
    height:var(--input-height);
padding: 12px;
color:var(--color-gray-1);
background-color: var(--color-dark-2);
border: 1px solid var(--color-dark-2);
border-radius: var(--border-radius);
 transition: all 0.15s ease; 

 flex-shrink: 0;          
}
button:hover{
    color:var(--color-dark-2);
    background-color: transparent;
}

button:active{
        background-color: var(--color-gray-1); 
    color: var(--color-dark-2);
    transform: scale(1.05);
}



