.field{
 position: relative;


 &:has(.field_input:not(:placeholder-shown)) .field_label{
   scale: 0.7;
   translate: -1.75em -2.6em; 
   color:var(--color-black)
}
}
.field__control {
    display: flex;             
    align-items: flex-end;     
    column-gap: 12px;        
}

.field_label {
   position: absolute;
    top:50%;
    left:17px;
    color:var(--color-gray-3);
    translate: 0 -50%;

    transition: 
        transform 0.3s ease, 
        color 0.3s ease;    

}

.field_input{
   --fieldInputPaddingX: 16px;
   --fieldSearchInpuntIconSize: 16px;


 flex: 1;                
   width: 100%;
   padding-inline: var(--fieldInputPaddingX) ;
   height: var(--input-height);
   background-color: transparent;
   border: var(--border);
   border-radius:var(--border-radius);

   &:hover,
   &:focus{
color:var(--color-dark-2);
border-color:var(--color-dark-2);
   }
   &:focus{
      background-color: var(--color-gray-1);
      outline: none;
   }
   &[type="search"]{
      &:placeholder-shown{
        padding-right:calc(
var(--fieldInputPaddingX) * 2+ var(--fieldSearchInpuntIconSize)
        ) ;
        background-image: url('../../icons/Search.svg');
        background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
        background-size: var(--fieldSearchInpuntIconSize);
        background-repeat: no-repeat;
      }
   }
}
