.todo-item{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-left: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);

    &:hover{
        background-color: var(--color-gray-1);

    }

    &.is-disappearing{
        opacity: 0;
        transform: translateY(-75%);
        transition-duration: calc(var(--transition-duration)*2);
        pointer-events: none;
transition: opacity .3s, transform .3s;
        & ~ .todo-item{
             transform: translateY(calc(-100% - 8px));
              transition: transform 0.3s ease;
            transition-delay: var(--transition-duration);
            transition-duration: var(--transition-duration);
            pointer-events: none;
        }
    }
}
.todo-item-checkbox{
    flex-shrink: 0;
    /* новое свойство */
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 1px solid var(--color-gray-4);
    border-radius: 4px;

&:not(:checked){
    &::after{
        opacity: 0;
    }
}

&:checked{
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);

    & + .todo-item-label{
    color:var(--color-gray-4);
    
    text-decoration: line-through;
}
}



.todo-item-label{
    width: 100%;
    pointer-events: none;
}

    &::after{
        content:'';
        position: absolute;
        top:50%;
        left:50%;
        translate: -50% -50%;
        width: 16px;
        height: 16px;
        background: url('../../icons/Check.svg') center/contain no-repeat;
    }
}
.todo-item_delete_button{
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-left: auto;
     padding: 0;
     color: var(--color-gray-4);
     background-color: transparent;
     border: none;
     border-radius: inherit;

     &:hover{
        color: var(--color-white);
        background-color: var(--color-dark-1);
     }
     &::active{
scale: 1.05;
     }

    *{
        pointer-events: none;
    }

}